@use 'variables' as *;

*, *::after,*::before{
    box-sizing: border-box;
}
html,body {
    scroll-behavior: smooth;
    font-family: 'Roboto', 'sans-serif';
}
body{
    scroll-behavior: smooth;
    background-color: #333;
}